<head>
  <meta charset="UTF-8">
  <title>Instagram — Stories Page</title>
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
</head>
<body>

<div class="main">
  <div class="instagram-stories__page">

  
    <button (click)="prevFace()" class="instagram-stories__btn-prev">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button (click)="nextFace()" class="instagram-stories__btn-next">
      <i class="fas fa-chevron-right"></i>
    </button>

<div class="cub" id="cub">

  <header class="instagram-storie__header">
    <div class="instagram-storie__header__user">

      <img
        alt="profile pic"
        class="instagram-storie__header__user-image"
        [src]="stories[storieIndex].user.imageURL"
      />

      <h2 class="instagram-storie__header__user-name">
        {{stories[storieIndex].user.name}}
      </h2>

    </div>


    <i  style="color: aliceblue;">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
    </i>

  </header>
  
  <div class="instagram-storie__progress">

    
        
        <div class="instagram-storie__progress-item" *ngFor="let index of stories[storieIndex].index">
          <div
            class="instagram-storie__progress-item__bar"
            [style]="progressValue(index)">
          </div>
        </div>
      
         
      
    </div>
  <!-- <div class=".instagram-storie__image"> -->
    <img class="instagram-storie__image" src="{{stories[storieIndex].images[imgIndex]}}" alt="img data" style="width: 100%; height:100%;">
  <!-- </div> -->
  </div>

  </div>
</div>

</body>